@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: rgb(19, 19, 19);
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 40px;
    padding-bottom: 100px;
}

#nav-content {
    display: flex;
    justify-content: space-between;

    width: 80%;
    max-width: 2000px;

    margin-bottom: 10px;
}

#nav-links {
    display: flex;
    gap: 20px;
}

#nav-content a {
    font-family: "Ubuntu Mono", system-ui;
    color: white;
    font-weight: 300;
}

#nav-content a:hover {
    color: rgba(255, 255, 255, 0.741);
}

hr {
    width: 82%;
    max-width: 2050px;
    color: white;

    margin-bottom: 100px;
}

#introduction {
    display: flex;
    gap: 40px;
    
    width: 80%;
    max-width: 2000px;
}

#introduction-logo {
    border: 2px solid white;
    border-radius: 100%;

    height: 350px;
    width: 350px;
}

#introduction-info h1 {
    font-family: "Ubuntu Mono", system-ui;
    color: white;
    font-size: 48px;
    font-weight: 300;

    margin-bottom: 5px;
}

#introduction-info h2 {
    font-family: "Lora", system-ui;
    color: white;
    font-size: 32px;
    font-weight: 300;

    margin-left: -2px;
}

#introduction-logos {
    margin-top: 20px;
}

#introduction-logos img {
    height: 100px;
}

#hr-bottom {
    margin-top: 100px;
    margin-bottom: 50px;
}

#folders-list {
    width: 80%;
    max-width: 2000px;
}

#folders-list h2 {
    font-family: "Ubuntu Mono", system-ui;
    color: white;
    font-size: 24px;
    font-weight: 300;
    
    margin-top: 10px;
}

#folders-list a {
    color: white;
    text-decoration: underline;
}

#folders-list a:hover {
    color: rgba(255, 255, 255, 0.741);
}

.post {
    width: 80%;
    max-width: 2000px;

    margin-bottom: 40px;
}

.post a {
    font-family: "Ubuntu Mono", system-ui;
    color: white;
    font-size: 32px;
    font-weight: 300;

    text-decoration: underline;
}

.post a:hover {
    color: rgba(255, 255, 255, 0.741);
}

.post p {
    font-family: "Lora", system-ui;
    color: rgba(255, 255, 255, 0.689);
    font-size: 26px;
    font-weight: 300;

    margin-top: 10px;
}

.post h2 {
    font-family: "Ubuntu Mono", system-ui;
    color: white;
    font-size: 28px;
    font-weight: 300;

    margin-top: 10px;
}

.link {
    display: flex;
    align-items: center;
    gap: 15px;

    padding-bottom: 20px;
    width: 80%;
    max-width: 2000px;
}

.link img {
    height: 100px;
}

.link a {
    font-family: "Ubuntu Mono", system-ui;
    color: white;
    font-size: 28px;
    font-weight: 300;

    text-decoration: underline;
    word-break: break-all;
}

.link a:hover {
    color: rgba(255, 255, 255, 0.741);
}

.post-full {
    width: 80%;
    max-width: 2000px;
}

.post-full img {
    margin-bottom: 10px;
}

.post-full a {
    color: white;
    text-decoration: underline;
}

.post-full a:hover {
    color: rgba(255, 255, 255, 0.741);
}

.post-full h1 {
    font-family: "Ubuntu Mono", system-ui;
    color: white;
    font-size: 32px;
    font-weight: 300;

    margin-bottom: 20px;
}

.post-full h2 {
    font-family: "Ubuntu Mono", system-ui;
    color: white;
    font-size: 26px;
    font-weight: 300;

    margin-top: 40px;
    margin-bottom: 10px;
}

.post-full h3 {
    font-family: "Ubuntu Mono", system-ui;
    color: white;
    font-size: 24px;
    font-weight: 300;

    margin-bottom: 10px;
}

.post-full p {
    font-family: "Lora", system-ui;
    color: rgba(255, 255, 255, 0.689);
    font-size: 20px;
    font-weight: 300;

    letter-spacing: 1px;
    margin-bottom: 20px;
}

.text-high {
    color: white;
}

@media (max-width: 910px) {
    #introduction {
        flex-direction: column;
    }
}

@media (max-width: 610px) {
    .link {
        flex-direction: column;
        align-items: start;
    }
}

@media (max-width: 500px) {
    #nav-content {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 420px) {
    #introduction-logo {
        height: 200px;
        width: 200px;
    }
}